//* --------------------------------------------
//	FEATURED IMAGE
//-------------------------------------------- */

.uchicago-section-banner {
  width: 100%;
  min-width: 100%;
  overflow: hidden;

  img {
    width: 100%;
    min-width: 100%;
  }
}
