//* --------------------------------------------
//	LOGO & TITLE
//-------------------------------------------- */

.logo-title {
  border-bottom: 1px solid $dark-maroon;
  height: $header-height-box;
  padding: $header-padding 0;
  @include breakpoint($tablet) {
    height: $header-height-box + 25;
  }
  .container {
    padding: 0 2em;
  }
  .logo {
    display: inline-block;
    vertical-align: top;
    background-image: url('../images/sprite_v2.svg');
    background-repeat: no-repeat;
    text-indent: -9999em;
    width: 52px;
    height: 63px;
    float: right;
    margin: -.5em 0 0 0;
    clear: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    @include breakpoint($tablet) {
      width: 313px;
      margin-top: .5em;
    }
  }

  .title-slogan {
    display: inline-block;

    a {color: $white;}
    .site-title {
      line-height: 1em;
      margin: 0 0 .5em;
      @include adjust-font-size-to(16px);
      @include breakpoint($tablet) {
        @include adjust-font-size-to(28px);
      }
    }
    .site-slogan {
      @extend %t-semibold;
      font-style: italic;
      margin: 0;
      @include adjust-font-size-to(12px);
      @include breakpoint($tablet) {
        @include adjust-font-size-to(16px);
        line-height: .5em;
      }
      line-height: 1.5em;
    }

  }
}
