//* --------------------------------------------
//	MAIN MENU
//-------------------------------------------- */

.main-menu {
  outline: none;
  position: absolute;
  display: block;
  background-color: $white;
  z-index: 200;
  left: -$mobile-menu-width;
  width: $mobile-menu-width;
  .mobile-menu-active & {
    left: 0;
  }

  .container {
    padding: 0;
  }

  .menu {
    display: block;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      display: block;
      text-decoration: none;
      list-style-image: none;
      list-style: none;

      a {
        color: $accent;
        background-color: $lighter-grey;
        text-decoration: none;
        display: block;
        text-align: left;
        padding: 10px 10px 8px;
        margin: 0 0 2px 0;
        &:hover {
          background-color: $accent;
          color: $off-white;
        }
      }
      &.active-trail {
        a {
          background-color: $accent;
          color: $off-white;
        }
      }
    }
  }
}

@include breakpoint($desktop-menu) {
  .main-menu {
    background-color: transparent;
    border-top: 1px solid $maroon;
    border-bottom: 1px solid $dark-maroon;
    display: block;
    left: 0;
    position: static;
    width: 100%;
    @include adjust-font-size-to(12px);
    @include breakpoint($max-width) {
      @include adjust-font-size-to(14px);
    }
    .container {
      padding: 0 2em;
    }

    .menu {
      margin: 0 0 0 -2em;
      padding: 0;

      li {
        display: inline;
        margin: 0;
        padding: 0;

        a {
          color: $white;
          background-color: transparent;
          position: relative;
          bottom: -1px;
          margin-top: -1px;
          display: inline-block;
          padding: .625em 2em;
          border-bottom: 1px solid transparent;
          &:hover {
            background-color: $white;
            color: $maroon;
          }
        }
        &.active-trail {
          a {
            background-color: $white;
            color: $maroon;
          }
        }
      }
    }
  }
}
