//* --------------------------------------------
//	MOBILE MENU
//-------------------------------------------- */

.mobile-menu-toggle {
  display: block;
  float: left;
  margin-right: 1.5rem;
  line-height: $header-height;
  font-size: 3em;
  color: $white!important;
  @include breakpoint($tablet) {
    line-height: $header-height + 25;
  }
  @include breakpoint($desktop-menu) {
    display: none;
  }
}
