//* --------------------------------------------
//	MAIN MENU
//-------------------------------------------- */

.secondary-menu .menu {
  margin: 0;
  padding: 0;
  width: 100%;
}

.secondary-menu .menu, .panels-section-column-categories  {
  @extend %t-semibold;

  li {
    text-decoration: none;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  li a, a.panels-modal-add-category, .content-type-button div a {
    display: block;
    height: 36px;
    list-style-image: none;
    list-style: none;
    @include adjust-font-size-to(14px);
    background-color: $lighter-grey;
    margin: 0 0 2px 0;
    padding: 8px 10px 0;
    color: $accent;
    text-decoration: none;
    &:after {
      content: " »";
    }
    &:hover {
      background-color: $accent;
      color: $off-white;
    }
  }
  .active {
    background-color: $accent;
    color: $off-white;
  }
}


