//* --------------------------------------------
//	UCHICAGO LEFT LAYOUT
//-------------------------------------------- */

.uchicago-content-left {
  .uchicago-section-main {
    @include breakpoint($desktop-menu) {
      @include grid-span(6);
    }
  }
  .uchicago-section-aside {
    @include breakpoint($desktop-menu) {
      @include grid-span(6, 7);
    }
  }
}
