//* --------------------------------------------
//	UCHICAGO SLIDER
//-------------------------------------------- */

#front-page-rotator {
  width: 100%;
  height: 400px;
  position: relative; /* required */
  overflow: hidden;
  background-color: $dark-grey;
  border-bottom: 1px solid shade($dark-grey, 20%);

  > .sequence-canvas {
    height: 100%; /* required */
    width: 100%; /* required */
    max-width: 1900px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    padding: 0;

    > .sequence-item {
      position: absolute; /* required */
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      z-index: 1;
    }
  }
}

// Image
.uchicago-slider .uchicago-section-banner {
  img {
    right: 0;
    top: 0;
    width: auto;
    height: auto;
    min-width: 100%;
    max-width: 100%;
  }
}



// Title and Teaser Text Block
.uchicago-slider {
  .uchicago-section-main {
    display: none;
    width: 100%;
    height: auto;
    background-color: $orange;
    @include transition(background-color 0.8s);
    z-index: 10;
    margin-bottom: 0;
    padding: 1em;
    @include transform(translateZ(0));
    &:hover {
      background-color: $accent;
    }
    @include breakpoint($tablet) {
      position: absolute;
      bottom: 10%;
      left: inherit;
      right: 25%;
      width: 70%;
    }
    @include breakpoint($desktop-menu) {
      width: 40%;
      right: 55%;
    }

    .title-text h2 {
      color: $white;
      font-size: 1.2em;
      line-height: 1em;
      @include breakpoint($tablet) {
        font-size: 1.8em;
        margin-bottom: .5rem;
      }
    }

    .teaser-text {
      display: none;
      color: $white;
      @include breakpoint($tablet) {
        display: block;
      }
    }

    .field-slideshow-link {
      margin-top: .5em;
      font-weight: bold;
    }

  }
}

// Display Left & Right
.uchicago-slider.uchicago-left, .uchicago-slider.uchicago-right {
  .uchicago-section-main {
    background: transparent;
    padding: 0;

    @include breakpoint($tablet) {
      bottom: 10%;
      left: inherit;
      right: 25%;
      width: 70%;
    }
    @include breakpoint($desktop-menu) {
      width: 40%;
      right: 55%;
    }


    .title-text {
      background-color: $maroon;
      @include transition(background 0.8s);
      padding: 1em;
      h2 {
        margin: 0;
      }
      @include breakpoint($tablet) {
        padding: 1em 1.5em;
        float: left;
      }
      @include breakpoint($desktop-menu) {
        padding: 1.5em 2em;
      }
    }

    .teaser-text {
      color: $dark-grey;
      float: left;
      clear: both;
      padding: 1.5em;
      @include background-rgba(255, 255, 255, .9);
      @include breakpoint($tablet) {
        display: block;
      }
      @include breakpoint($desktop-menu) {
        width: 70%;
      }
    }

    &:hover {
      .title-text {
        background-color: $maroon;
      }
      .teaser-text {
        color: $maroon;
      }
    }
  }
}

// Display Right
.uchicago-slider.uchicago-right {
  .uchicago-section-main {

    @include breakpoint($tablet) {
      right: 5%;
    }

    .title-text {
      @include breakpoint($tablet) {
        float: right;
        text-align: right;
      }
    }
    .teaser-text {
      @include breakpoint($tablet) {
        float: right;
        text-align: right;
      }
    }
  }
  .loaded img {
    left: 0;
    right: inherit;
  }
}



// Animations
#front-page-rotator.animate .uchicago-slider {
  opacity: 0;

  .uchicago-section-main {
    display: block;
    @include breakpoint($tablet) {
      right: 100%;
    }
  }

  &.uchicago-right .uchicago-section-main {
    @include breakpoint($tablet) {
      right: -100%;
    }
  }
}

#front-page-rotator.animate .animate-in .uchicago-slider {
  @include transition(opacity 1.5s);
  @include transition-delay(0.5s);
  opacity: 1;

  .uchicago-section-main {
    @include transition-delay(0.6s);
    @include transition(right 2s);
    @include breakpoint($tablet) {
      right: 25%;
    }
    @include breakpoint($desktop-menu) {
      right: 55%;
    }
  }
  &.uchicago-right .uchicago-section-main {
    @include breakpoint($tablet) {
      right: 5%;
    }
  }
}

#front-page-rotator.animate .animate-out .uchicago-slider {
  @include transition(opacity 1.5s);
  @include transition-delay(1s);

  .uchicago-section-main {
    @include transition(right 0.8s);
    @include breakpoint($tablet) {
      right: -100%;
    }
  }
  &.uchicago-right .uchicago-section-main {
    @include breakpoint($tablet) {
      right: 100%;
    }
  }
}


// Draggable Sort
#views-form-sequencejs-dragable-sort {
  margin: 0 auto;
  max-width: $max-width;
  @include breakpoint($tablet) {
    padding: 0 1em;
  }
  @include breakpoint($desktop-menu) {
    padding: 0 2em;
  }
  td {
    vertical-align: middle;
    padding: .5em;
  }
  .tabledrag-handle {
    float: left;
    margin-top: 18px;
    .handle {
      width: 30px;
      height: 27px;
    }
  }
}

html.no-js {
  #front-page-rotator .uchicago-section-main {
    display: block;
  }
}
