//* --------------------------------------------
//	UCHICAGO RIGHT LAYOUT
//-------------------------------------------- */

.uchicago-content-right {
  .uchicago-section-main {
    @include breakpoint($desktop-menu) {
      @include grid-span(6, 7);
    }
  }
  .uchicago-section-aside {
    @include breakpoint($desktop-menu) {
      @include grid-span(6);
    }
  }
}
