//* --------------------------------------------
//	UCHICAGO PANELS LAYOUTS
//-------------------------------------------- */

.uchicago-section-main {
  background-color: $white;
  padding-bottom: .5em;
  margin-bottom: 2em;
  .pane-node-title {
    h1, h2 {
      margin: 0 0 1rem;
    }
  }
}

// Shadowed Box Layout
.uchicago-section-main.shadow {
  @include box-shadow(0 0 15px rgba(50, 50, 50, 0.7));
  .pane-node-title{
    background-color: $maroon;
    color: $white;
    padding: .5em 1em;
    @include breakpoint($tablet) {
      padding: 1em 2em;
    }
    @include breakpoint($desktop-menu) {
      padding: 1.5em 2em;
    }
    h1, h2 {
      margin: 0;
    }
  }
  .field-body {
    padding: 1em 1em .5em;
    @include breakpoint($tablet) {
      padding: 2em 2em 1em;
    }
    @include breakpoint($desktop-menu) {
      padding: 2em 2em 1em;
    }
  }
}

.field-image-caption {
  display: none;
  @include breakpoint($tablet) {
    display: block;
  }
}


.uchicago-section-aside {

  .pane-node-field-image-caption {
    margin: .5em 0 1em;
  }
  .uchicago-section-aside-full {
    width: 100%;
  }
  .uchicago-section-container {
    margin-bottom: 1.5em;
  }
  .uchicago-section-aside-left {
    @include breakpoint($wide-mobile) {
      @include float-span(2);
    }
  }
  .uchicago-section-aside-right {
    @include breakpoint($wide-mobile) {
      @include float-span(2, 3);
    }
  }
}

// Color Styles

.pane-blue-background, .pane-violet-background, .pane-orange-background, .pane-yellow-background, .pane-red-background, .pane-light-green-background, .pane-dark-green-background {
  color: $white;
  padding: .5em 1em;
  @include breakpoint($tablet) {
    padding: 1em 2em;
  }
  @include breakpoint($desktop-menu) {
    padding: 1.5em 2em;
  }
  a, h1, h2, h3, h4, h5, h6 {
    color: $white;
    margin-top: 0;
  }
  a {
    @extend %t-semibold;
    &:hover {
      color: $grey;
    }
  }
}
.pane-blue-background {
  background-color: $blue!important;
}
.pane-violet-background {
  background-color: $violet!important;
}
.pane-orange-background {
  background-color: $orange!important;
}
.pane-yellow-background {
  background-color: $yellow!important;
}
.pane-red-background {
  background-color: $red!important;
}
.pane-light-green-background {
  background-color: $light-green!important;
}
.pane-dark-green-background {
  background-color: $dark-green!important;
}

.box-shadow {
  position: relative;
  z-index: 0;
  &:before, &:after {
    content: "";
    position: absolute;
    z-index: -2;
    bottom: 15px;
    left: 10px;
    width: 50%;
    height: 20%;
    max-width: 300px;
    max-height: 100px;
    @include box-shadow(0 15px 10px rgba(0, 0, 0, 0.7));
    @include transform(rotate(-3deg));
  }
  &:after {
    right: 10px;
    left: auto;
    @include transform(rotate(3deg));
  }
}

