//* --------------------------------------------
//	UCHICAGO BOTTOM LAYOUT
//-------------------------------------------- */

.uchicago-content-bottom {
  .uchicago-section-main {
    @include breakpoint($tablet) {
      margin-top: -9em;
    }
    @include breakpoint($desktop-menu) {
      margin-top: -16em;
    }
  }
}
