//* --------------------------------------------
//	UCHICAGO TOP LAYOUT
//-------------------------------------------- */

.uchicago-content-top {
  .uchicago-section-main {
    @include breakpoint($tablet) {
      margin-top: -9em;
    }
    @include breakpoint($desktop-menu) {
      margin-top: -33em;
    }
  }
}
