//* --------------------------------------------
//	BREADCRUMBS
//-------------------------------------------- */

.breadcrumb {
  width: 100%;
  background-color: $lighter-grey;
  clear: both;
  height: 30px;
  padding: 5px 0 0;
  @include adjust-font-size-to(12px);
  ul {
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      color: $accent;
    }
    a {
      color: $dark-grey;
      text-decoration: none;
      &:after {
        content: ">";
        padding: 0 5px;
      }
    }
  }
}


