//* --------------------------------------------
//	Calendar
//-------------------------------------------- */
#ui-datepicker-div {
  font: inherit;
  width: 250px;
  border: 1px $lighter-grey solid;
  padding: 0;
  table {
    background-color: $white;
    width: 100%;
    border-collapse: collapse;
    font: inherit;
    margin: 0;
    padding: 0;
  }
  tbody {
    border: 0;
  }
  td,
  th {
    padding: 0;
    width: 14.28%;
    border: 1px solid;
    border-color: #e6f5fc;
  }
  th {
    padding: 5px;
    cursor: default;
    background-color: $white;
    font-weight: 400;
  }
  td {
    a {
      display: block;
      position: relative;
      border: 2px transparent solid;
      background: $white;
      text-align: center;
      padding: 5px;
      &:hover {
        background-color: $lighter-grey;
        color: $darker-grey;
      }
    }
  }
  td:first-child,
  th:first-child {
    border-left: 0;
  }
  td:last-child,
  th:last-child  {
    border-right: 0;
  }
  tr:last-child td {
    border-bottom: 0;
  }
  .ui-datepicker-today {
    a {
      background-color: $form-accent;
      color: $white;
      &:hover {
        background-color: $form-accent-shade;
        color: $white;
      }
    }
  }
  .ui-datepicker-current-day {
    a {
      border: 4px solid $form-accent;
      border-width: 1px;
      &:after {
        position: absolute;
        display: block;
        border-top: 12px solid $form-accent;
        border-left: 12px solid transparent;
        right: 0;
        content: "";
        top: 0;
        z-index: 101;
      }
      &:before {
        position: absolute;
        display: block;
        color: $white;
        right: 0;
        z-index: 102;
        top: 0;
        content: "\f00c";
        font-family: 'FontAwesome';
        font-size: 6px;
        line-height: 7px;
        font-weight: normal;
      }
    }
  }
  .ui-datepicker-header {
    background: $form-accent;
    color: #ffffff;
    border: 0;
    border-radius: 0;
    padding: 0;
    height: 34px;
  }
  .ui-datepicker-title {
    padding-top: 6px;
  }
  .ui-datepicker-prev,
  .ui-datepicker-next {
    background: transparent;
    border: none;
    color: $white;
    top: 4px;
    text-align: center;
    &:before {
      font-size: 15px;
      font-family: 'FontAwesome';
    }
  }
  .ui-datepicker-prev {
    left: 4px;
    &:before {
      content: "\f137";
    }
  }
  .ui-datepicker-next {
    right: 4px;
    &:before {
      content: "\f138";
    }
  }
  .ui-state-hover {
    cursor: pointer;
  }
  .ui-icon {
    background: transparent;
  }
}



.other-day {
  display: block;
  text-align: center;
  color: #999999;
}
