//* --------------------------------------------
//	Form elements: Inputs, buttons, etc.
//-------------------------------------------- */

$form-blue:         #0074BD;
$form-blue-shade:   $blue;

$form-green:        $alert-green;
$form-green-shade:  #277d1e;

$form-red:          $alert-red;
$form-red-shade:    #990000;

$form-orange:       $orange;
$form-orange-shade: $orange-shade;

$form-accent:       $form-blue;
$form-accent-shade: $form-blue-shade;

/* Inputs
-------------------------------------------------------------- */

.form-actions {
  @include margin-leader(1);
}

.form-item {
  @include margin-trailer(1);
}

.form-text, .form-file, .input-group-addon, .form-control, .form-textarea, .form-select, .select, .chosen-search input {
  background-image: none;
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,0.075));
  border: 1px solid $light-grey;
  border-radius: 0;
  background: $white;
  color: $dark-grey;
  padding: 6px 12px;
  display: block;
  width: 100%;
}

.form-text, .form-file, .form-control, .form-textarea, .form-select, .chosen-search input {
  &:focus, &:hover {
    color: $black;
    border-color: $form-accent;
    outline: none;
  }
}

.form-select, .select, .form-file {
  &:hover {
    cursor: pointer;
  }
}

.form-text, .form-file, .input-group-addon, .form-control, .select, .chosen-search input {
  height: 34px;
  vertical-align: middle;
}

.form-type-checkbox, .form-checkboxes .form-item, .form-radios .form-item {
  margin: 0;
  label:hover, input:hover {
    cursor: pointer;
  }
}
.form-type-checkbox, .form-checkbox, .form-radio {
  vertical-align: baseline;
  small {
    display: block;
  }
}


// File Uploader
.form-file, .managed_file_upload_button {
  padding: 12px;
  height: 46px;
}
.form-file {
  background-color: $lighter-grey;
}

// Select

.select {
  vertical-align: top;
  padding: 0;
  border: 0;
  display: inline-block;
  min-width: 80px;
  position: relative;
  background: $white;
  color: $darker-grey;
  @include box-shadow(0 2px 2px 0 rgba(0,0,0,0.2));
  &:before, &:after {
    content: '';
    position: absolute;
    pointer-events: none;
  }
  &:before {
    top: 0;
    bottom: 0;
    right: 0;
    width: 36px;
    background: $form-accent;
  }
  &:after {
    top: 13px;
    right: 12px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: $white;
  }
  &:hover {
    cursor: pointer;
    &:before {
      background: $form-accent-shade;
    }
  }
  .form-select {
    display: block;
    width: 100%;
    height: 34px;
    line-height: 1em;
    margin: 0;
    padding: .3em;
    background: transparent;
    @include box-shadow(none);
    -webkit-appearance: none;
  }
}

/* Chosen */
.chosen-container {
  zoom: 1;
  *display: inline;
  a {
    cursor: pointer;
  }
  .chosen-drop {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 1010;
    width: 100%;
    @include box-shadow(0 2px 2px 0 rgba(0,0,0,0.2));
    border: 1px solid $light-grey;
    border-top: 0;
    background: #fff;
  }
  &:focus, &:hover {
    .chosen-drop {
      border-color: $form-accent;
    }
  }
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}

/* Single Chosen */
.chosen-container-single {
  .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
    span {
      display: block;
      overflow: hidden;
      padding-left: 6px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 4px;
    white-space: nowrap;
  }
  .chosen-default {
    color: #999;
  }
  .chosen-single-with-deselect span {
    margin-right: 38px;
  }
  .chosen-drop {
    margin-top: -1px;
    background-clip: padding-box;
  }
  &.chosen-container-single-nosearch .chosen-search {
    position: absolute;
    left: -9999px;
  }
}

/* Chosen Results */
.chosen-container .chosen-results {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 4px 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
  li {
    display: none;
    margin: 0;
    padding: 5px 6px;
    list-style: none;
    line-height: 15px;
    -webkit-touch-callout: none;
    &.active-result {
      display: list-item;
      cursor: pointer;
    }
    &.disabled-result {
      display: list-item;
      color: $light-grey;
      cursor: default;
    }
    &.highlighted {
      background-color: $form-accent;
      color: $white;
      @extend %t-semibold;
    }
    &.no-results {
      display: list-item;
      background: $off-white;
    }
    &.group-result {
      display: list-item;
      font-weight: bold;
      cursor: default;
    }
    &.group-option {
      padding-left: 15px;
    }
    em {
      font-style: normal;
      text-decoration: underline;
    }
  }
}

/* Multi Chosen */
.chosen-container-multi {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 0;
  padding: 0;
  .chosen-drop {
    margin-top: -1px;
    .result-selected {
      display: list-item;
      color: $light-grey;
      cursor: default;
    }
  }
  .chosen-results {
    margin: 0;
    padding: 0 6px;
  }
  &.chosen-container-active {
    .chosen-choices, .chosen-drop {
      border-color: $form-accent;
    }
    li.search-field input[type="text"] {
      color: #111 !important;
    }
  }
}
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 6px;
  width: 100%;
  height: auto !important;
  height: 1%;
  border: 1px solid $light-grey;
  background-color: #fff;
  cursor: text;
  li {
    float: left;
    list-style: none;
    &.search-field {
      margin: 0;
      padding: 0;
      white-space: nowrap;
      input[type="text"] {
        margin: 1px 0;
        padding: 0 5px;
        height: 20px;
        outline: 0;
        border: 0 !important;
        background: transparent !important;
        box-shadow: none;
        color: #666;
        border-radius: 0;
      }
      .default {
        color: #999;
      }
    }
    &.search-choice {
      position: relative;
      margin: 0 6px 0 0;
      padding: 3px 20px 3px 5px;
      border: 1px solid $light-grey;
      background-color: $lighter-grey;
      background-clip: padding-box;
      box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
      color: $dark-grey;
      line-height: 13px;
      cursor: default;
      .search-choice-close {
        position: absolute;
        top: 3px;
        right: 3px;
        display: block;
        width: 12px;
        height: 12px;
        &:hover {
          background-position: -42px -10px;
        }
        &:before {
          content: '\f057';
          font-family: 'FontAwesome';
          font-size: 13px;
          color: $grey;
        }
      }
    }
    &.search-choice-disabled {
      padding-right: 5px;
      border: 1px solid $lighter-grey;
      background-color: $off-white;
      color: $light-grey;
      .search-choice-close {
        display: none;
      }
    }
    &.search-choice-focus {
      background: #d4d4d4;
      .search-choice-close {
        color: $darker-grey;
      }
    }
  }
}

/* Chosen Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}



// Grouped Selects
.container-inline .form-item {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

// Input with grouped icon
.input-group {
  min-width: 100%;
  position: relative;
  display: table;
  border-collapse: separate;
  .input-group-addon {
    @include box-shadow(none);
    text-align: center;
    background-color: $lighter-grey;
    height: auto;
    line-height: 1em;
    &:first-child {
      border-right: 0;
    }
    &:last-child {
      border-left: 0;
    }
  }
  .input-group-addon, > input, .form-control, .input-group-btn {
    display: table-cell;
  }
  .input-group-btn {
    position: relative;
    white-space: nowrap;
  }
  .input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
  }
}

// Autocomplete
.form-autocomplete .input-group-addon {
  background-color: $white;
  border-left: 0;
  i {
    color: $grey;
    font-size: 18px;
  }
}

.dropdown {
  position: relative;
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: $white;
    border: 1px solid $light-grey;
    @include box-shadow(0 6px 12px rgba(0,0,0,0.175));
    background-clip: padding-box;
    >li>a {
      display: block;
      padding: 3px 20px;
      clear: both;
      color: $dark-grey;
      white-space: nowrap;
    }
  }
}

// Disabled Inputs
.form-disabled {
  input, textarea, select {
    background-color: $off-white;
    color: $grey;
  }
}


/* Labels
-------------------------------------------------------------- */
.form-item label, .exposed-filters .form-item label {
  @extend %t-medium;
  &.option {
    @extend %t-base;
  }
}
label.required {
  &:after {
    content: '*';
    color: $form-red;
  }
}

/* Description Text
-------------------------------------------------------------- */
ul.tips, div.description, .form-item div.description {
  margin: 0;
  @extend %t-base;
  color: $dark-grey;
}

/* Fieldsets
-------------------------------------------------------------- */
fieldset {
  position: relative;
  border: solid 1px $light-grey;
  @include margin-leader(1);
  @include margin-trailer(1);
  legend {
    float: left;
    width: 100%;
    @extend %t-medium;
    background: $lighter-grey;
    color: $darker-grey;
    margin: 0;
    .fieldset-legend, .fieldset-title {
      height: 40px;
      display: block;
      padding: .5em 10px;
    }
    .fieldset-title {
      margin: -.5em -10px;
    }
  }
  .fieldset-wrapper, .panel-body {
    clear: both;
    padding: 1em;
  }
  &.collapsible {
    legend {
      &:hover {
        background: $link;
        .fieldset-title {
          color: $white;
        }
      }
      &:before, &:after {
        content: '';
        position: absolute;
        pointer-events: none;
      }
      &:before {
        top: 0;
        bottom: 0;
        right: 0;
        width: 29px;
        background: transparent;
      }
      &:after {
        top: 20px;
        right: 13px;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-top-color: $grey;
      }
    }
  }
  &.collapsed {
    border: solid 1px transparent!important; //prevent size change
    legend {
      @include box-shadow(0 2px 2px 0 rgba(0,0,0,0.2));
    }
  }
}

/* Vertical Tabs
-------------------------------------------------------------- */
div.vertical-tabs {
  position: relative;
  .vertical-tabs-list {
    margin: 40px 0 0 0;
    padding: 0;
    width: 240px;
    list-style: none;
    list-style-image: none;
    position: relative;
    float: left;
    li {
      outline: none;
      a {
        display: block;
        padding: 1em 0 1em 1em;
      }
      &.selected {
        background-color: #fff;
        border-left: 10px solid $form-accent;
        position: relative;
        left: 1px;
        z-index: 1;

        a {
          border: 1px solid $light-grey;
          border-right: 0;
          border-left-color: $white;
        }
      }
    }
    .summary {
      display: block;
    }
  }
  .vertical-tabs-panes {
    margin: 0 0 0 240px;
    padding: 0;
  }
  fieldset {
    margin: 0;
    padding: 0 0 .5em 0;
  }
}

/* Buttons
-------------------------------------------------------------- */

.btn,
#node-edit .image-widget .btn,
#edit-buttons-revert,
div.panels-ipe-control .btn,
div.panels-ipe-pseudobutton-container,
div.panels-ipe-handlebar-wrapper li a,
div.panels-ipe-dragtitle span,
div.panels-ipe-newblock a,
span.panels-ipe-draghandle-icon
{
  cursor: pointer;
  background: $off-white;
  border: none;
  padding: 6px 10px;
  //margin-bottom: 1em;
  margin-right: 1em;
  height: auto;
  color: $grey;
  text-align: center;
  font: inherit;
  @include border-radius(0);
  @include box-shadow(0 2px 2px 0 rgba(0,0,0,0.2));
  @include transition(all 0.5s);
}

.btn:hover,
#node-edit .image-widget .btn:hover,
div.panels-ipe-pseudobutton-container:hover,
div.panels-ipe-control .btn:hover,
div.panels-ipe-handlebar-wrapper li a:hover,
div.panels-ipe-newblock a:hover {
  background: $form-accent;
  color: $white;
}

.btn:active {
  box-shadow: 0 2px 2px rgba(0,0,0,0.3) inset;
}

/* Green Button */
.btn-success,
div.panels-ipe-newblock li.add-pane a {
  color: #fff;
  background: $form-green;
  &:hover {
    background: $form-green-shade;
  }
  &:active {
    box-shadow: 0 2px 2px rgba(0,0,0,0.75) inset;
    background: $dark-grey;
  }
}

/* Red Button */
.btn-danger,
#node-edit .image-widget .btn-danger {
  color: #fff;
  background: $form-red;
  &:hover {
    background: $form-red-shade;
  }
  &:active {
    box-shadow: 0 2px 2px rgba(0,0,0,0.75) inset;
    background: $dark-grey;
  }
}
.btn-caution:hover,
div.panels-ipe-control .btn.panels-ipe-cancel:hover,
div.panels-ipe-handlebar-wrapper li.delete a:hover {
  color: #fff;
  background: $form-red;
}

/* Blue Button */
.btn-info,
.btn-primary {
  color: #fff;
  background: $form-blue;
  &:hover {
    background: $form-blue-shade;
  }
  &:active {
    box-shadow: 0 2px 2px rgba(0,0,0,0.75) inset;
    background: $dark-grey;
  }
}

/* Orange Button */
.btn-warning,
div.panels-ipe-control input#panelizer-ipe-revert {
  color: #fff;
  background: $form-orange;
  &:hover {
    background: $form-orange-shade;
  }
  &:active {
    box-shadow: 0 2px 2px rgba(0,0,0,0.75) inset;
    background: $dark-grey;
  }
}
span.panels-ipe-draghandle-icon:hover {
  color: #fff;
  background: $form-orange;
}

button i {
  margin-right: 7px;
}


/* Progress Bar
-------------------------------------------------------------- */

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress .bar, .password-indicator {
  overflow: hidden;
  height: 40px;
  margin-bottom: 10px;
  background-color: #f7f7f7;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  display: block;
  border: none;
}
.progress .filled, .password-indicator div {
  float: left;
  width: 0%;
  height: 100%;
  border-radius: 4px;
  background-color: $accent;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
  background-image: -webkit-linear-gradient(top, #8D0000 0%, #640000 100%);
  background-image: linear-gradient(to bottom, #8D0000 0%, #640000 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8D0000', endColorstr='#ff640000', GradientType=0);
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}

/* Password Confirmation Fields
-------------------------------------------------------------- */
input.password-confirm,
input.password-field {
  width: 16em;
  margin-bottom: 0.4em;
}
.password-strength, div.password-confirm {
  width: 17em;
  float: right;  /* LTR */
}
.password-strength-title {
  display: inline;
}
.password-strength-text {
  float: right; /* LTR */
  font-weight: bold;
}
.password-indicator {
  height: 25px;
}
.password-indicator div {
  background-image: -webkit-linear-gradient(top, $form-green 0%, $form-green-shade 100%);
  background-image: linear-gradient(to bottom, $form-green 0%, $form-green-shade 100%);
}
div.password-confirm {
  margin-top: 1.5em;
  visibility: hidden;
}
div.form-item div.password-suggestions {
  padding: 1em;
  margin: 1em 0;
  width: 38.5em;
  border: 1px solid $light-grey;
}
div.password-suggestions ul {
  margin-bottom: 0;
}
.confirm-parent,
.password-parent {
  clear: left; /* LTR */
  margin: 0;
  width: 36.3em;
}
.error {
  color: $form-red;
  font-weight: 600;
}

/* Node Edit Form (Needed here for anon user)
-------------------------------------------------------------- */
#node-edit {
  #edit-title {
    height: 1.5em;
    padding-top: 8px;
  }
}