//* --------------------------------------------
//	Alerts
//-------------------------------------------- */

#messages {
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  .messages {
    color: $white;
    border: none;
    margin: 0;
    padding: 0;
    background-image: none;
    @extend %t-bold;
    .container {
      background-repeat: no-repeat;
      background-position: 0 80%;
      padding-left: 50px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .warning {
    background-color: $orange;
    .container {
      background-image: url("../images/alert.png");
    }
  }

  .error {
    background-color: $form-red;
    .container {
      background-image: url("../images/error.png");
    }
  }

  .status {
    background-color: $form-green;
    .container {
      background-image: url("../images/check.png");
    }
  }

  .krumo-root {
    color: $darker-grey;
  }
}
