//* --------------------------------------------
//	Modal Window
//-------------------------------------------- */

#modalBackdrop {
  position: fixed!important;
  background-color: #000!important;
}
.ctools-modal-content {
  font-size: inherit;
  background: $white;
  color: $black;
  padding: 0;
  margin: 2px;
  border: 1px solid $black;
  width: 600px;
  text-align: left;
  box-sizing: content-box;
  .modal-content {
    padding: 12px 12px 0 12px; /* Don't change */
    overflow: auto;
    position: relative; /* Keeps IE7 from flowing outside the modal. */
    box-sizing: content-box; /* Don't change */
  }
  .form-actions {
    float: right;
    clear: right;
    width: 48%;
    margin-left: 1em;
    margin-bottom: 1em;
    text-align: right;
  }
}

.ctools-modal-content .modal-header {
  background: $maroon;
  height: auto;
  padding: rhythm(.5) 20px;
  .modal-title {
    color: $white;
    @include typeSize(super);
    @extend %t-light;
    font-family: inherit;
  }
  a.close {
    background: transparent;
    text-indent: 0;
    height: 35px;
    width: 36px;
    padding: 0;
    margin: 0;
    color: $off-white;
    float: right;
    text-align: right;
    overflow: hidden;
    @include transition(0.5s cubic-bezier(.27,1.64,.32,.95));
    &:hover {
      @include transform(rotate(90deg));
    }
    &:before {
      font-family: FontAwesome;
      content: "\f057";
      line-height: 36px;
      font-size: 40px;
      text-align: center;
      height: 35px;
      display: block;
    }
    img {
      display: none;
    }
  }
}
