//* --------------------------------------------
//	PAGINATION
//-------------------------------------------- */

.pager {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pager > li {
  display: inline;
  white-space: nowrap;
  position: relative;
  float: left;
  line-height: 1.42857143;
  text-decoration: none;
  color: $accent;
  background-color: $white;
  border: 1px solid $light-grey;
  margin-left: -1px;
  &.first{
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }
  &.last {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }
  &:hover, &:focus {
    color: $accent;
    background-color: $lighter-grey;
    border-color: $light-grey;
  }
  a {
    display: block;
    padding: 6px 12px;
  }
  &.current,
  &.current:hover,
  &.current:focus {
    z-index: 2;
    color: $white;
    background-color: $accent;
    border-color: $accent;
    cursor: default;
    padding: 6px 12px;
  }
  &.disabled,
  &.disabled:focus,
  &.disabled:hover,
  &.ellipsis,
  &.ellipsis:hover,
  &.ellipsis:focus {
    color: $grey;
    background-color: $white;
    border-color: $light-grey;
    cursor: not-allowed;
    padding: 6px 12px;
  }
}
