//* --------------------------------------------
//	Panels IPE Overrides
//-------------------------------------------- */

div#panels-ipe-control-container {
  background: none repeat scroll 0 0 $darker-grey;
  @include box-shadow(none);
  * {
    @extend %t-base;
  }
}

/* Panels IPE Buttons */
div.panels-ipe-pseudobutton-container {
  height: 36px;
  a.panels-ipe-startedit, a.panels-ipe-change-layout {
    padding: 0;
    background: none;
    color: inherit;
    @include transition(none);
    &:before {
      font-family: FontAwesome;
      content: "";
      padding: 0 10px 0 0;
      font-size: 16px;
    }
  }
  a.panels-ipe-startedit {
    &:before {
      content: "\f085";
    }
  }
  a.panels-ipe-change-layout {
    &:before {
      content: "\f181";
    }
  }
}

div.panels-ipe-handlebar-wrapper li, div.panels-ipe-newblock li {
  display: inline-block;
  &.edit, &.style, &.delete, &.add-pane {
    a {
      line-height: 36px;
      width: 36px;
      height: 36px;
      margin-right: .5em;
      &:before {
        font-family: FontAwesome;
        content: "";
        font-size: 20px;
        margin-top: -5px;
        display: block;
      }
      span {
        display: none;
      }
    }
  }
  &.edit a:before {
    content: "\f040";
  }
  &.style a:before {
    content: "\f0d0";
  }
  &.delete a:before {
    content: "\f014";
  }
  &.add-pane a:before {
    content: "\f067";
  }
}

span.panels-ipe-draghandle-icon {
  .panels-ipe-draghandle-icon-inner {
    background: none;
    line-height: 36px;
    width: 34px;
    height: 34px;
    &:before {
      font-family: FontAwesome;
      content: "\f047";
      font-size: 22px;
      display: block;
    }
  }
}

div.panels-ipe-draghandle, div.panels-ipe-nodraghandle {
  background: $light-grey;
}
div.panels-ipe-placeholder {
  h3 {
    line-height: 1.5em;
  }
}

// END BUTTONS

// AJAX LOADING ICON
.ajax-progress-throbber {
  background: transparent;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  float: left;
  text-align: left;
  &:before {
    color: $white;
    font-family: FontAwesome;
    //content: "\f0a3"; // Medallion
    content: "\f110"; //Spinner
    padding: 0;
    font-size: 28px;
    width: 36px;
    height: 35px;
    line-height: 36px;
    text-align: center;
    display: inline-block;
    @include animation(spin 2s infinite linear);
  }
}

// ADD NEW CONTENT TO PANE MODAL WINDOW
.panels-add-content-modal {
  height: 100%;
  margin: -1em;
  padding-top: 1em;
  padding-left: 202px;
  position: relative;
  .panels-section-column {
    width: 48%;
    float: left;
    .inside {
      padding: 0 1em;
    }
  }
  .panels-section-column-categories {
    width: 220px;
    margin-left: -200px;
    .panels-categories-box {
      border-top: 1px solid white;
      margin-bottom: 1em;
    }
    .content-type-button {
      padding: 0;
      img {
        float: left;
        padding: 10px 10px 9px 10px;
      }
    }
  }

  .panels-section-columns,
  .panels-categories-description {
    overflow: visible;
    border: 1px solid $lighter-grey;
    height: 100%;
    margin: 0;
    padding: 1em 0 0 0;
    margin-top: 1px;
    overflow-y: auto;
  }
  .panels-categories-description {
    color: white;
  }

  .ajax-progress-throbber {
    text-align: right;
    margin: -38px 0 0 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
}

fieldset.widget-preview {
  .content-type-button {
    float: right;
    img {
      display: none;
    }
    > div {
      padding: 0;
      a {
        display: block;
        color: #fff;
        text-decoration: none;
        background: $form-green;
        height: 40px;
        overflow: hidden;
        &:before {
          content: "\f067";
          font-family: FontAwesome;
          overflow: hidden;
          padding: 10px 12px;
          display: block;
        }
        &:hover {
          background: $form-green-shade;
        }
      }
    }
    .ajax-progress-throbber {
      //background: $form-green;
    }
  }
}

// CHANGE LAYOUT WINDOW
.change-layout-display {
  > img {
    padding: 25px 25px 25px 0;
    float: left;
  }
  .layout-icon {
    float: left;
  }
  .caption {
    width: 90px;
    margin-bottom: 1em;
  }
}
#panels-dnd-main {
  div.panel-region {
    margin-bottom: 1.5em;
    h2.label {
      @extend %t-base;
      padding: 6px 0 0 0;
    }
  }
  .panel-portlet {
    padding: 0em;
    background: $white;
    border: 1px solid $light-grey;
    .toggle {
      width: 0;
      height: 0;
      margin: 10px;
      border: 5px solid transparent;
      border-top-color: $grey;
      background: transparent;
    }
    .toggle.toggle-collapsed {
      border-top-color: transparent;
      border-left-color: $grey;
    }
    .grab-title {
      background: $grey;
      height: auto;
      text-shadow: none;
      padding: 3px 6px;
    }
    .grabber {
      &:hover, &:active {
        background: $dark-grey;
        color: #fff;
        text-shadow: none;
        border-color: 1px solid $form-blue;
      }
      // text on grabber bar
      .text {
        font-size: 14px;
      }
    }
  }
}







