//* --------------------------------------------
//	TABS
//-------------------------------------------- */
div.tabs {
  background-color: $dark-grey;
  border-bottom: 1px solid shade($dark-grey, 20%);
  @extend .clearfix;
}
ul.tabs {
  margin: 0;
  padding: 0;
  float: right;
  clear: both;
  border-bottom: none;
  > li {
    float: left;
    list-style: none;
    padding: 0;
    a, span {
      @include transition(all ease 0.3s);
      color: $dark-grey;
      display: block;
      border: 1px solid $light-grey;
      background-color: $lighter-grey;
      border-bottom: none;
      border-collapse: collapse;
      padding: .625em 1.5em;
      margin: 0;
      text-align: center;
    }
    a:hover {
      color: $accent;
      background-color: $white;
      @include transition(all ease 0.3s);
      @include transition-delay(0.1s);
    }
    &.active a {
      background-color: $white;
      color: $dark-grey;
      border-bottom: none;
    }
  }
}
