//* --------------------------------------------
//	TABLES
//-------------------------------------------- */


table {
  width: 100%;
  margin: 0 0 10px;
}

tbody {
  border: 1px solid $lighter-grey;
  border-left: 0;
}

table td,table th {
  vertical-align: middle;
  padding: 8px 10px;
  border-left: 1px solid $lighter-grey;
  color: #000;
}

tr.even,tr.odd {
  border-style: solid;
  border-color: $lighter-grey;
  background: $off-white;
}

tr.odd {
  background: $white;
}

tr.drag {
  background: #fe7;
}

tr.drag-previous {
  background: #ffb;
}

table th {
  background: none repeat scroll 0 0 $light-grey;
  text-align: left;
  @include typeSize(base);
  @extend %t-semibold;
  padding: 10px;
}

table th.active {
  background: #0074BD;
  color: #fff;
}

table th a {
  display: block;
}

table th.active a {
  padding: 0 25px 0 0;/* LTR */
  color: #fff;
}

table th.active img {
  float: right;
  position: relative;
  right: -20px;
  top: 3px;/* LTR */
}

table td.active {
  background: transparent;
}

table tr.odd td.active {
  background: transparent;
}

table tr.selected td.active,table tr.selected td {
  background: #ffc;
  border-color: #eeb;
}

table.system-status-report tr {
  border-bottom: 1px solid #ccc;
  border-color: rgba(0,0,0,0.1);
}

table.system-status-report tr.ok {
  color: #255b1e;
  background-color: #e5ffe2;
}

table.system-status-report tr.info {
  color: #040f37;
  background-color: #bdf;
}

table.system-status-report tr.warning {
  color: #840;
  background-color: #fffbe2;
}

table.system-status-report tr.error {
  color: #fff;
  background-color: #e26969;
}

tr.error a {
  color: #FFF7BB;
}

table.system-status-report tr.error td {
  color: #fff;
}

/* Table hover style */
tr.even:hover,tr.odd:hover {
  background: rgba(28, 183, 236, 0.1) !important;
}

.field-multiple-drag {
  background-color: #FFF7BB;
}