/* line 46, ../sass/partials/global/_variables.scss */
h5, h6, .bold, strong, b {
  font-weight: 700;
}

/* line 49, ../sass/partials/global/_variables.scss */
small, figcaption, h6, .t-small {
  font-weight: 600;
}

/* line 52, ../sass/partials/global/_variables.scss */
h5, .t-base, .t-medium {
  font-weight: 400;
}

/* line 55, ../sass/partials/global/_variables.scss */
h4, aside .pane-title, h3, .t-large, .t-xlarge {
  font-weight: 300;
}

/* line 58, ../sass/partials/global/_variables.scss */
h2, h1, .t-super, .t-mega {
  font-weight: 200;
}

/* line 10, ../sass/partials/global/_extendables.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
/* line 16, ../sass/partials/global/_extendables.scss */
.clearfix:after {
  clear: both;
}

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
/* line 9, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 29, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 40, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 47, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
[hidden],
template {
  display: none;
}

/*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
/* line 11, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_base.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 19, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_base.scss */
body {
  margin: 0;
}

/*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
/* line 9, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_links.scss */
a {
  background: transparent;
}

/* line 15, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_links.scss */
a:active,
a:hover {
  outline: 0;
}

/*! normalize.css v3.0.0 | Typography | MIT License | git.io/normalize */
/* line 9, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 15, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
b,
strong {
  font-weight: bold;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
dfn {
  font-style: italic;
}

/* line 29, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 36, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 43, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
small {
  font-size: 80%;
}

/* line 49, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 57, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
sup {
  top: -0.5em;
}

/* line 61, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
sub {
  bottom: -0.25em;
}

/*! normalize.css v3.0.0 | Embedded Content | MIT License | git.io/normalize */
/* line 9, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_embeds.scss */
img {
  border: 0;
}

/* line 15, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_embeds.scss */
svg:not(:root) {
  overflow: hidden;
}

/*! normalize.css v3.0.0 | Figures | MIT License | git.io/normalize */
/* line 9, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
figure {
  margin: 1em 40px;
}

/* line 15, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 23, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
pre {
  overflow: auto;
}

/* line 29, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/*! normalize.css v3.0.0 | Forms | MIT License | git.io/normalize */
/* line 15, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 27, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button {
  overflow: visible;
}

/* line 36, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button,
select {
  text-transform: none;
}

/* line 47, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 57, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 64, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 73, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input {
  line-height: normal;
}

/* line 83, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 93, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 102, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 113, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 120, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 129, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 136, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
textarea {
  overflow: auto;
}

/* line 143, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
optgroup {
  font-weight: bold;
}

/*! normalize.css v3.0.0 | Tables | MIT License | git.io/normalize */
/* line 9, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_tables.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 14, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-normalize-1.5/stylesheets/normalize/_tables.scss */
td,
th {
  padding: 0;
}

/* line 5, ../sass/partials/global/_defaults.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* line 24, ../sass/partials/global/_defaults.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 28, ../sass/partials/global/_defaults.scss */
html {
  position: relative;
}

/* line 32, ../sass/partials/global/_defaults.scss */
body {
  background-color: white;
}
/* line 33, ../sass/partials/global/_defaults.scss */
body * {
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility;
}

/* line 39, ../sass/partials/global/_defaults.scss */
html, body {
  width: 100%;
  overflow-x: hidden;
}

/* line 44, ../sass/partials/global/_defaults.scss */
iframe {
  border: 0;
}

/* line 48, ../sass/partials/global/_defaults.scss */
header, main, footer {
  width: 100%;
}

/* line 106, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 87.5%;
  line-height: 1.64286em;
}

/* line 7, ../sass/partials/global/_type.scss */
div.styleguide {
  background-size: 100% 23px;
  padding-top: 0 !important;
}

/* line 13, ../sass/partials/global/_type.scss */
small, figcaption, h6 {
  font-size: 11px;
  font-size: 0.78571rem;
  line-height: 23px;
  line-height: 1.64286rem;
}

/* line 21, ../sass/partials/global/_type.scss */
h5 {
  font-size: 14px;
  font-size: 1rem;
  line-height: 23px;
  line-height: 1.64286rem;
}
@media (min-width: 1000px) {
  /* line 21, ../sass/partials/global/_type.scss */
  h5 {
    font-size: 18px;
    font-size: 1.28571rem;
    line-height: 23px;
    line-height: 1.64286rem;
  }
}

/* line 25, ../sass/partials/global/_type.scss */
h4, aside .pane-title {
  font-size: 18px;
  font-size: 1.28571rem;
  line-height: 23px;
  line-height: 1.64286rem;
}
@media (min-width: 1000px) {
  /* line 25, ../sass/partials/global/_type.scss */
  h4, aside .pane-title {
    font-size: 22px;
    font-size: 1.57143rem;
    line-height: 23px;
    line-height: 1.64286rem;
  }
}

/* line 29, ../sass/partials/global/_type.scss */
h3 {
  font-size: 22px;
  font-size: 1.57143rem;
  line-height: 23px;
  line-height: 1.64286rem;
}
@media (min-width: 1000px) {
  /* line 29, ../sass/partials/global/_type.scss */
  h3 {
    font-size: 29px;
    font-size: 2.07143rem;
    line-height: 35px;
    line-height: 2.46429rem;
  }
}

/* line 33, ../sass/partials/global/_type.scss */
h2 {
  font-size: 29px;
  font-size: 2.07143rem;
  line-height: 35px;
  line-height: 2.46429rem;
}
@media (min-width: 1000px) {
  /* line 33, ../sass/partials/global/_type.scss */
  h2 {
    font-size: 36px;
    font-size: 2.57143rem;
    line-height: 46px;
    line-height: 3.28571rem;
  }
}

/* line 37, ../sass/partials/global/_type.scss */
h1 {
  font-size: 36px;
  font-size: 2.57143rem;
  line-height: 46px;
  line-height: 3.28571rem;
}
@media (min-width: 1000px) {
  /* line 37, ../sass/partials/global/_type.scss */
  h1 {
    font-size: 46px;
    font-size: 3.28571rem;
    line-height: 46px;
    line-height: 3.28571rem;
  }
}

/* line 42, ../sass/partials/global/_type.scss */
.t-small {
  font-size: 11px;
  font-size: 0.78571rem;
  line-height: 23px;
  line-height: 1.64286rem;
}

/* line 46, ../sass/partials/global/_type.scss */
.t-base {
  font-size: 14px;
  font-size: 1rem;
  line-height: 23px;
  line-height: 1.64286rem;
}

/* line 50, ../sass/partials/global/_type.scss */
.t-medium {
  font-size: 14px;
  font-size: 1rem;
  line-height: 23px;
  line-height: 1.64286rem;
}
@media (min-width: 1000px) {
  /* line 50, ../sass/partials/global/_type.scss */
  .t-medium {
    font-size: 18px;
    font-size: 1.28571rem;
    line-height: 23px;
    line-height: 1.64286rem;
  }
}

/* line 54, ../sass/partials/global/_type.scss */
.t-large {
  font-size: 18px;
  font-size: 1.28571rem;
  line-height: 23px;
  line-height: 1.64286rem;
}
@media (min-width: 1000px) {
  /* line 54, ../sass/partials/global/_type.scss */
  .t-large {
    font-size: 22px;
    font-size: 1.57143rem;
    line-height: 23px;
    line-height: 1.64286rem;
  }
}

/* line 58, ../sass/partials/global/_type.scss */
.t-xlarge {
  font-size: 22px;
  font-size: 1.57143rem;
  line-height: 23px;
  line-height: 1.64286rem;
}
@media (min-width: 1000px) {
  /* line 58, ../sass/partials/global/_type.scss */
  .t-xlarge {
    font-size: 29px;
    font-size: 2.07143rem;
    line-height: 35px;
    line-height: 2.46429rem;
  }
}

/* line 62, ../sass/partials/global/_type.scss */
.t-super {
  font-size: 29px;
  font-size: 2.07143rem;
  line-height: 35px;
  line-height: 2.46429rem;
}
@media (min-width: 1000px) {
  /* line 62, ../sass/partials/global/_type.scss */
  .t-super {
    font-size: 36px;
    font-size: 2.57143rem;
    line-height: 46px;
    line-height: 3.28571rem;
  }
}

/* line 66, ../sass/partials/global/_type.scss */
.t-mega {
  font-size: 36px;
  font-size: 2.57143rem;
  line-height: 46px;
  line-height: 3.28571rem;
}
@media (min-width: 1000px) {
  /* line 66, ../sass/partials/global/_type.scss */
  .t-mega {
    font-size: 46px;
    font-size: 3.28571rem;
    line-height: 46px;
    line-height: 3.28571rem;
  }
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/1415F2_0.eot");
  src: url("../fonts/1415F2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/1415F2_0.woff") format("woff"), url("../fonts/1415F2_0.ttf") format("truetype"), url("../fonts/1415F2_0.svg#ProximaNova") format("svg");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/1415F2_1.eot");
  src: url("../fonts/1415F2_1.eot?#iefix") format("embedded-opentype"), url("../fonts/1415F2_1.woff") format("woff"), url("../fonts/1415F2_1.ttf") format("truetype"), url("../fonts/1415F2_1.svg#ProximaNova") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/1415F2_2.eot");
  src: url("../fonts/1415F2_2.eot?#iefix") format("embedded-opentype"), url("../fonts/1415F2_2.woff") format("woff"), url("../fonts/1415F2_2.ttf") format("truetype"), url("../fonts/1415F2_2.svg#ProximaNova") format("svg");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/1415F2_3.eot");
  src: url("../fonts/1415F2_3.eot?#iefix") format("embedded-opentype"), url("../fonts/1415F2_3.woff") format("woff"), url("../fonts/1415F2_3.ttf") format("truetype"), url("../fonts/1415F2_3.svg#ProximaNova") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/1415F2_4.eot");
  src: url("../fonts/1415F2_4.eot?#iefix") format("embedded-opentype"), url("../fonts/1415F2_4.woff") format("woff"), url("../fonts/1415F2_4.ttf") format("truetype"), url("../fonts/1415F2_4.svg#ProximaNova") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
/* line 77, ../sass/partials/global/_type.scss */
html, body {
  font-family: "ProximaNova", "Helvetica Neue", Helvetica, Arial, Verdana, "DejaVu Sans", sans-serif;
  font-weight: 400;
}

/* line 83, ../sass/partials/global/_type.scss */
p + p {
  margin-top: 23px;
  margin-top: 1.64286rem;
}

/* line 87, ../sass/partials/global/_type.scss */
h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  margin-top: 23px;
  margin-top: 1.64286rem;
}

/* line 90, ../sass/partials/global/_type.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 23px;
  margin-top: 1.64286rem;
}

/* line 116, ../sass/partials/global/_type.scss */
h4 {
  color: maroon;
}

/* line 125, ../sass/partials/global/_type.scss */
h6 {
  text-transform: uppercase;
}

/* line 134, ../sass/partials/global/_type.scss */
a {
  text-decoration: none;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 138, ../sass/partials/global/_type.scss */
a:link {
  color: maroon;
}
/* line 142, ../sass/partials/global/_type.scss */
a:visited {
  color: maroon;
}
/* line 146, ../sass/partials/global/_type.scss */
a:hover, a:focus {
  color: #403f3f;
  text-decoration: none;
}
/* line 151, ../sass/partials/global/_type.scss */
a:active, a.active {
  color: #403f3f;
}

/* line 159, ../sass/partials/global/_type.scss */
ul, ol {
  margin-top: 23px;
  margin-top: 1.64286rem;
  margin-bottom: 23px;
  margin-bottom: 1.64286rem;
  padding: 0 0 0 3rem;
}

/* line 165, ../sass/partials/global/_type.scss */
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0;
}

/* line 172, ../sass/partials/global/_type.scss */
ul, .block ul, .item-list ul {
  list-style-type: square;
  list-style-image: none;
}

/* line 177, ../sass/partials/global/_type.scss */
ul.inline,
ol.inline {
  margin: 0;
}
/* line 180, ../sass/partials/global/_type.scss */
ul.inline li,
ol.inline li {
  display: inline;
}

/* line 187, ../sass/partials/global/_type.scss */
.highlight {
  color: maroon;
}

/* line 190, ../sass/partials/global/_type.scss */
.bold, strong, b {
  color: #403f3f;
}

/* line 194, ../sass/partials/global/_type.scss */
.italic, em {
  font-style: italic;
}

/* line 197, ../sass/partials/global/_type.scss */
hr {
  border: 0;
  border-bottom: 1px dashed white;
  background: #767676;
}

/* line 202, ../sass/partials/global/_type.scss */
hr.gradient {
  border: 0;
  height: 1px;
  background-color: transparent;
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-top: 23px;
  margin-top: 1.64286rem;
  margin-bottom: 23px;
  margin-bottom: 1.64286rem;
}

/* line 211, ../sass/partials/global/_type.scss */
em {
  font-style: italic;
}

/* Code and Pre
-------------------------------------------------------------- */
/* line 217, ../sass/partials/global/_type.scss */
code, pre {
  font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
  color: #2a2a2a;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 11px;
  line-height: 20px;
  background: white;
  border: 1px solid #ebe8e8;
  padding: 0 20px;
  display: block;
  overflow: auto;
}

/* line 231, ../sass/partials/global/_type.scss */
code {
  background: url(../images/code.gif) repeat 0 0;
  border-top: transparent;
}

/* line 235, ../sass/partials/global/_type.scss */
.tips code {
  color: maroon;
}

/* Blockquotes
-------------------------------------------------------------- */
/* line 241, ../sass/partials/global/_type.scss */
blockquote {
  position: relative;
  margin-top: 23px;
  margin-top: 1.64286rem;
  margin-bottom: 23px;
  margin-bottom: 1.64286rem;
  padding: 0 0 0 3rem;
  text-align: left;
  font-style: italic;
}
/* line 248, ../sass/partials/global/_type.scss */
blockquote cite {
  color: #767676;
  display: block;
}
/* line 251, ../sass/partials/global/_type.scss */
blockquote cite:before {
  content: "\2014 \2009";
}
/* line 255, ../sass/partials/global/_type.scss */
blockquote:before {
  display: block;
  content: "\201C";
  font-size: 110px;
  position: absolute;
  left: -1.5rem;
  top: 3rem;
  color: #767676;
}

/* Pullquotes
-------------------------------------------------------------- */
/* line 268, ../sass/partials/global/_type.scss */
.pullquote {
  display: inline-block;
  float: left;
  margin-bottom: 1em;
  margin-right: 2em;
  margin-top: 1.5em;
  width: 40%;
  border-left: 5px solid maroon;
  letter-spacing: -.5px;
  padding: 1em;
}

/* line 279, ../sass/partials/global/_type.scss */
.pullquote.aligncenter {
  float: none;
  text-align: left;
  width: auto;
  display: block;
}

/* line 285, ../sass/partials/global/_type.scss */
.pullquote.alignleft, .pullquote.aligncenter {
  margin-left: 2px;
}

/* line 288, ../sass/partials/global/_type.scss */
.pullquote.alignright, .pullquote.aligncenter {
  margin-right: 2px;
}

/* line 291, ../sass/partials/global/_type.scss */
.pullquote.alignright {
  margin-left: 2em;
}

/* line 299, ../sass/partials/global/_type.scss */
::-moz-selection {
  background: maroon;
  color: white;
  text-shadow: none;
}

/* line 300, ../sass/partials/global/_type.scss */
::selection {
  background: maroon;
  color: white;
  text-shadow: none;
}
