#panels-dnd-main {
  margin: 0.5em 0;
}

#panels-dnd-main div.panel-region {
  padding: 0 0 .5em 0;
  border: 1px dashed #ddd;
  background: #f8f8f8;
  -webkit-border-radius: 0.333em;
  -moz-border-radius: 0.333em;
}

#panels-dnd-main div.panel-region h2.label {
  color: #555;
  text-shadow: #fff 1px 1px 1px;
  text-align: center;
  font-size: 13pt;
  margin: 0 0 .5em 0;
  padding-right: 16px;
  vertical-align: middle;
}

#panels-dnd-main div.panel-region .pane-add {
  float: left;
  margin: 2px;
  background: #999;
  border: 1px solid #fff;
}

#panels-dnd-main div.panel-region .pane-add-link {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  margin: 2px 2px 2px 4px;
}

div.panels-set-title-hide .panels-set-title {
  display: none !important;
}

/* Add Icon */
#panels-dnd-main div.panel-region .pane-add-link  {
}
#panels-dnd-main div.panel-region .pane-add-link img {
  display: none;
}
#panels-dnd-main div.panel-region .pane-add-link a.ctools-dropdown-image-link {
  border: none;
  width: 16px;
  height: 18px;
  float: left;
  background: url('../images/sprite.png') no-repeat 0 -1178px;
/*  background: url('../images/sprite.png') no-repeat -166px -582px; */
}

.panel-portlet {
  padding: 0em;
  background: #ffffff;
  border: 1px solid #bbb;
}

div.panels-set-title-hide .panel-pane-is-title {
  border: 1px solid #bbb;
}

.panel-pane-is-title {
  border: 2px solid #777;
}

/* Cog Icon */
.panel-portlet .buttons a img {
  display: none;
  margin: 0;
}
.panel-portlet .buttons a.ctools-dropdown-image-link {
  border: none;
  width: 16px;
  height: 16px;
  margin: 0 5px 0 0;
  float: none;
  display: block;
  background: url('../images/sprite.png') no-repeat 0 -1178px;
}

#panels-dnd-main .panel-pane,
#panels-dnd-main .helperclass {
  margin: .5em;
}

#panels-dnd-main-form .inline-icon-help {
  vertical-align: middle;
  margin: 2px 1px;
}

.panel-pane.hidden-pane {
  background: #f8f8f8;
}

.panel-portlet .pane-content {
  margin: .5em 0 .5em 0;
  padding: 0 .25em 0 .25em;
  display: none; /* initially hidden */
}

.panel-portlet .grab-title {
  width: 100%;
  height: 20px;
  margin: 0 0 0.5em 0;
  overflow: hidden;
  background: #b3b3b3;
  color: #fff;
  text-shadow: #555 1px 1px 1px;
  border-color: #999;
  font-weight: bold;
}

.panel-portlet .grabber {
  cursor: move;
  background: #b3b3b3 url('../images/bg-shade-medium.png') repeat-x 0 100%;
}

.panel-portlet.hidden-pane .grab-title {
  background-color: #888;
}

.panel-portlet .changed div.grab-title {
  background-color: #FFFFDD !important;
  border-bottom: 1px solid #3D9CD7 !important;
  color: black !important;
}

.panel-portlet .changed.hidden-pane div.grab-title {
  background-color: #B4B488 !important;
  border-bottom: 1px solid #3D9CD7 !important;
}

.panel-portlet .changed div.grab-title span.star {
  font-weight: bold;
  color: #E09010;
}

.panel-portlet .grabber:hover {
  color: #fff;
  background-color: #2F78A5;
}

.panel-portlet.hidden-pane .grab-title:hover {
  background-color: #666;
}

.panel-portlet .grabber:active {
  background-color: red;
}

.panel-portlet .grabber:hover,
.panel-portlet .grabber:active {
  background: #858585 url('../images/bg-shade-dark.png') repeat-x 0 100%;
  color: #fff;
  text-shadow: #333 1px 1px 1px;
  border-color: #858585;
}

.panel-portlet .grab-title .text {
  margin-left: 3px;
  font-size: 90%;
  line-height: 20px;
}

.panel-portlet .buttons {
  float: right;
  padding: 0;
  margin: 0;
}

.panel-portlet .buttons input, .panel-portlet .buttons button {
  margin: 0;
  padding: 0;
  display: inline;
}

.panel-portlet .buttons a img {
  margin: 2px 1px;
}

.panel-portlet .pane-title {
  font-size:110%;
  cursor: pointer;
}

.panel-portlet .panel-pane-collapsible {
  margin: 0;
  padding: 0;
}

.panel-portlet .toggle {
  float: left;
  width: 21px;
  height: 21px;
  cursor: pointer;
  background: url('../images/sky.png') no-repeat 6px -245px;
}

.panel-portlet .toggle-collapsed {
  background: url('../images/sky.png') no-repeat 6px -1021px;
}

/* CSS to guide a user to a place to drop */
#panels-dnd-main .helperclass {
  border: 1px dashed red;
}

#panels-dnd-main .hoverclass {
  border: 1px solid red !important;
}

.panels-hidden,
.panels-js-only {
  display: none;
}

#edit-configuration-nid {
  clear: left;
}

.option-text-aligner .form-item {
  float: left;
  padding: .25em 1em .25em 0;
  margin: 0;
}

.option-text-aligner {
  clear: both;
  width: 100%;
  padding: 0;
  margin: 0;
}


#panels-dnd-main div.panel-pane div.ctools-dropdown-container-wrapper {
  margin-left: -158px;
  margin-top: -4px;
}

/*
html.js div.panels-display-links div.ctools-dropdown-container {
  width: 275px;
}

html.js div.panels-display-links div.ctools-dropdown-container ul li li a {
  width: 250px;
}

html.js div.panels-display-links div.ctools-dropdown-container ul li a {
  width: 270px;
}
*/

#panels-dnd-main .panel-pane .pane-title {
  padding: 0.25em 0.5em;
}
#panels-dnd-main .panel-pane .pane-title:after {
  font-size: 0.8em;
  color: crimson;
  letter-spacing: normal;
  display: block;
}
#panels-dnd-main .panel-pane.hidden-pane .pane-title:after {
  content: " status: hidden";
}
#panels-dnd-main .panel-pane.changed .pane-title:after {
  content: " status: changes not saved";
}
#panels-dnd-main .panel-pane.hidden-pane.changed .pane-title:after {
  content: " status: hidden & changed";
}

/* @end */


/* @group CTools Dropdown */
#panels-dnd-main .ctools-dropdown a.ctools-dropdown-text-link,
html.js div.panels-display-links a.ctools-dropdown-text-link {

  background: url('../images/arrow-down-light.png') 0 3px no-repeat!important;
  padding-left: 12px;
}
html.js #panels-dnd-main div.ctools-dropdown div.ctools-dropdown-container,
html.js div.panels-display-links div.ctools-dropdown-container {
  width: 160px!important;
  background: #fff url('../images/bg-shade-white-lrg.png') repeat-x 0 100%;
  border: solid 1px #ddd!important;
  margin: 0!important;
/*  padding: 0.5em!important; */
  -webkit-border-radius: 0.333em;
  -moz-border-radius: 0.333em;
  -webkit-box-shadow: 0.333em 0.333em 0.333em rgba(0, 0, 0, 0.25);
  font-size: 0.9em;
  font-weight: bold;
}

html.js #panels-dnd-main div.ctools-dropdown div.ctools-dropdown-container ul li,
html.js div.panels-display-links div.ctools-dropdown-container ul li {

  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #555!important;
  text-shadow: #fff 1px 1px 1px;
}
html.js #panels-dnd-main div.ctools-dropdown div.ctools-dropdown-container ul li span.text,
html.js div.panels-display-links div.ctools-dropdown-container ul li span.text {
  font-style: normal;
  color: #000;
  font-weight: bold;
}

html.js #panels-dnd-main div.ctools-dropdown div.ctools-dropdown-container ul li a,
html.js div.panels-display-links div.ctools-dropdown-container ul li a {
  color: #555!important;
  font-weight: normal;
  width: auto;
  padding: 0 10px;
}

html.js #panels-dnd-main div.ctools-dropdown div.ctools-dropdown-container ul li span.panels-text,
html.js div.panels-display-links div.ctools-dropdown-container ul li span.panels-text {
  width: auto;
  padding: 0 10px;
}

html.js #panels-dnd-main div.ctools-dropdown div.ctools-dropdown-container ul li .panels-italic,
html.js div.panels-display-links div.ctools-dropdown-container ul li .panels-italic {
  font-style: italic;
}

html.js #panels-dnd-main div.ctools-dropdown div.ctools-dropdown-container ul li span.dropdown-header,
html.js div.panels-display-links div.ctools-dropdown-container ul li span.dropdown-header {
  background-color: #fefefe;
  padding: 0 10px;
}

html.js #panels-dnd-main div.ctools-dropdown div.ctools-dropdown-container ul li .panels-sub-menu ul li a,
html.js div.panels-display-links div.ctools-dropdown-container ul li .panels-sub-menu ul li a,
html.js #panels-dnd-main div.ctools-dropdown div.ctools-dropdown-container ul li .panels-sub-menu span.panels-text,
html.js div.panels-display-links div.ctools-dropdown-container ul li .panels-sub-menu span.panels-text {
  width:auto;
  padding: 0 20px;
}

html.js #panels-dnd-main div.ctools-dropdown div.ctools-dropdown-container hr,
html.js div.panels-display-links div.ctools-dropdown-container hr {
  border: 0;
  color: #ddd;
  background-color: #ddd;
  height: 1px;
}

/*
html.js #panels-dnd-main  div.ctools-dropdown div.ctools-dropdown-container ul li a:hover,
html.js div.panels-display-links div.ctools-dropdown-container ul li a:hover {
  background: none!important;
  color: #000!important;
}
*/
/* @end */
