//* --------------------------------------------
//	FOOTER
//-------------------------------------------- */

#footer {
  background-color: $dark-grey;
  @include background-image(linear-gradient($dark-grey, shade($dark-grey, 20%)));
  color: $off-white;
  padding: 1.5em 0;
  .logo {
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: top;
    background-image: url("../images/sprite_v2.svg");
    text-indent: -9999em;
    width: 52px;
    height: 63px;
    float: left;
    margin: 0 1em;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    @include breakpoint($tablet) {
      margin: 0;
      width: 270px;
      height: 41px;
      position: absolute;
      background-size: 75%;
    }
  }
  .copyright {
    @include adjust-font-size-to(10px);
    @include breakpoint($wide-mobile) {
      @include adjust-font-size-to(12px);
    }
    @include breakpoint($tablet) {
      text-align: right;
      @include grid-span(4, 3);
    }
  }
}
