//* --------------------------------------------
//	HEADER
//-------------------------------------------- */

#header {
  color: $white;
  background-color: $maroon;
  @include background-image(linear-gradient($maroon, shade($maroon, 30%)));
}
