//* --------------------------------------------
//	MAIN
//-------------------------------------------- */

#main {
  width: 100%;
  background-color: $white;
  padding: 0;
  .mobile-menu-active & {
    margin-left: $mobile-menu-width;
    @include breakpoint($desktop-menu) {
      margin: 0;
    }
  }
}



.container {
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  border-width: 0px;
  max-width: $max-width;
  padding: 0 1em;
  @include breakpoint($max-width) {
    padding: 0 2em;
  }
}
