/* --------------------------------------------
/ ADMIN/ADMINIMAL MENU FIXES
/-------------------------------------------- */

body.admin-menu.adminimal-menu {
  margin-top: 28px !important;
}

#admin-menu * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  transition: none;
}

body.adminimal-menu #admin-menu .admin-menu-search input {
  line-height: 14px;
}

/* --------------------------------------------
/ NODE EDIT FORM
/-------------------------------------------- */

.mceToolbar * {
  box-sizing: content-box;
}

#node-edit {
  padding-top: 20px;
}

#node-edit .form-item-path-alias label {
  margin-right: 7px;
  font-weight: 300;
  font-size: 14px;
}

#node-edit .form-item-path-alias input {
  width: 300px;
  margin-top: 4px;
  height: 2em;
}

/*.form-item label, .exposed-filters .form-item label {
  clear: both;
}

#node-edit .pane-node-form-menu .form-item-menu-parent label, #node-edit .pane-node-form-menu .form-item-menu-link-title label {
  clear: both;
  font-size: 13px;
  font-weight: 500;
}

#node-edit .panel-separator {
  padding-top: 1em;
}

.pane-node-form-publishing {
  clear: both;
}*/


/* --------------------------------------------
/ IPE FIXES FOR DONOR LAYOUTS
/-------------------------------------------- */

.panels-ipe-editing .uchicago-section-banner,
#modal-content .uchicago-section-banner {
  display: none !important;
}
.panels-ipe-editing #panel-region-caption,
#modal-content #panel-region-caption,
.panels-ipe-editing #panels-ipe-regionid-caption,
#modal-content #panels-ipe-regionid-caption {
  display: none !important;
}
.panels-ipe-editing .uchicago-section-main,
#modal-content .uchicago-section-main {
  margin-top: 0 !important;
}
.panels-ipe-editing .panels-ipe-region {
  background-color: white;
}
#panels-dnd-main .uchicago-section-main {
  -moz-box-shadow: none!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}


/* --------------------------------------------
/ PANELS IPE
/-------------------------------------------- */
#modal-content fieldset * {
}
#modal-content fieldset legend {
  top: 0;
  left: 0;
  height: auto;
  padding: 0;
  margin: 0;
  border: 0;
  position: static;
  float: left;
  text-indent: 0;
}
#modal-content fieldset legend span {
  display: block;
  padding: 10px 15px;
}
#modal-content fieldset .fieldset-wrapper {
  margin: 0;
  padding: 10px;
  clear: both;
}
fieldset.widget-preview .fieldset-wrapper {
  max-width: 100%;
  overflow-y: auto;
  max-height: 200px;
  min-height: 200px;
  overflow-x: hidden;
}
fieldset.widget-preview-single {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
  width: 48%;
}
fieldset.widget-preview-single .fieldset-wrapper {
  max-width: 100%;
  overflow-y: auto;
  min-height: 75px;
  max-height: 375px;
}

/* --------------------------------------------
/ CHANGE PANEL LAYOUT IPE
/-------------------------------------------- */

#panels-layout-category-UChicago {
  margin: 3% 6%;
}
#panels-layout-category-UChicago-wrapper .layout-link {
  float: left;
  margin-right: 15px;
  padding: 15px;
  text-align: center;
  width: 130px;
  height: 158px;
}
#panels-layout-category-UChicago-wrapper .layout-link div {
  margin: 20px 0 0 -8px;
}
#panels-layout-category-UChicago-wrapper .layout-link img {
  width: 100%;
}
#panels-layout-category-UChicago-wrapper .layout-link:hover {
  background-color: #BBB;
}
#panels-layout-category-UChicago-wrapper .current-layout {
  background-color: #DDD;
}

/* --------------------------------------------
/ EDITABLE VIEWS
/-------------------------------------------- */

.views-field-editablefield label,
.views-field-editablefield small,
.views-field-editablefield .description,
.views-field-editablefield .field-widget-social-profile-field-default thead {
  display: none;
}
.views-field-editablefield .form-item {
  margin-bottom: 0;
}

/* --------------------------------------------
/ WORKBENCH
/-------------------------------------------- */

div.admin.my-workbench .left {
  width: 35%;
}

div.admin.my-workbench .right {
  width: 65%;
}

div.workbench-info-block {
  background: none repeat scroll 0 0 #FFFBD9;
  list-style: none outside;
  padding: 0.25em 0.5em 0.25em 0.5em;
  margin: 0;
  border-color: #FFEBC5;
  border-style: solid none;
  border-width: 1px;
  color: #666;
  font-size: 0.95em;
}

.workbench-info-block {
  background: none repeat scroll 0 0 #FFFBD9;
  list-style: none outside;
  padding: 10px 0;
  margin: 0;
  border-color: #FFEBC5;
  border-style: solid none;
  border-width: 1px;
  color: #666;
  font-size: 0.95em;
}

.current-revision td {
  background-color: #faafbe;
}

.published-revision td {
  background-color: #aaffaa;
}

.width-auto {
  width: auto;
}

form.workbench-moderation-moderate-form,
form.workbench-moderation-moderate-form div,
form.workbench-moderation-moderate-form label {
  display: inline;
}

#workbench-moderation-admin-transitions-form table {
  min-width: 380px;
}