/**
 * @file
 * CSS for Social Profile Field.
 */
/* Default widget */

.field-widget-social-profile-field-default .form-item .form-item {
    background-repeat: no-repeat;
    height: 36px;
}

.field-widget-social-profile-field-default .form-item .form-item input.edit-field-social-profile-url {
    margin: 7px 0 7px 48px;
}

.field-widget-social-profile-field-default .form-item .form-item {
    background-image: url('icons/default.png');
}

.field-widget-social-profile-field-default .form-item .youtube-com,
.field-widget-social-profile-field-default .form-item .www-youtube-com {
    background-image: url('icons/youtube.com.png');
}

.field-widget-social-profile-field-default .form-item .blog-billsbills-com {
    background-image: url('icons/blog.billsbills.com.png');
}

.field-widget-social-profile-field-default .form-item .linkedin-com,
.field-widget-social-profile-field-default .form-item .www-linkedin-com {
    background-image: url('icons/linkedin.com.png');
}

.field-widget-social-profile-field-default .form-item .facebook-com,
.field-widget-social-profile-field-default .form-item .www-facebook-com {
    background-image: url('icons/facebook.com.png');
}

.field-widget-social-profile-field-default .form-item .ncbankruptcyexpert-com,
.field-widget-social-profile-field-default .form-item .www-ncbankruptcyexpert-com {
    background-image: url('icons/blog.billsbills.com.png');
}

/* Formatter: Icons */
.field-type-social-profile-field-url .field-item {
    margin-right: 5px;
    float: left;
}

.social-media-icon {
  display: inline-block;
  text-indent: -10000px;
  height: 36px;
  width: 36px;
  background-repeat: no-repeat;
  background-image: url('icons/default.png');
  margin-right: 10px;
}

.social-media-icon.facebook {
  background-image: url('icons/facebook.com.png');
}
.social-media-icon.linkedin {
  background-image: url('icons/linkedin.com.png');
}