//* --------------------------------------------
//	DEFAULTS
//-------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

*, *:before, *:after {
  @include box-sizing(border-box);
}

html {
  position: relative;
}

body {
  * {
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility;
  }
  background-color: $white;
}
html, body {
  width:100%;
  overflow-x:hidden;
}

iframe {
  border: 0;
}

header, main, footer {
  width: 100%;
}
