////////////////////////
// Mixins Partials
//
// All of your mixins should go in this file.
////////////////////////

@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('#{$font-path}#{$font-filename}.eot');
    src: url('#{$font-path}#{$font-filename}.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}#{$font-filename}.woff') format('woff'),
    url('#{$font-path}#{$font-filename}.ttf') format('truetype'),
    url('#{$font-path}#{$font-filename}.svg##{$font-family}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
    font-stretch: $font-stretch;
  }
}

// Background RGBA
// -------------------
// Creates a cross-browser rgba background color.
@mixin background-rgba($red: 0, $green: 0, $blue: 0, $alpha: 0.5){
  background-color: rgb($red, $green, $blue);
  background-color: rgba($red, $green, $blue, $alpha);
  @if ($legacy-support-for-ie7) {
    @include has-layout;
    background-color: transparent\9; $color: rgba($red, $green, $blue, $alpha);
    @include filter-gradient($color, $color);
  }
}

// Type Size
// -------------------
// Dynamically resizes type.
@mixin typeSize($size) {
  @if $size == "small" {
    @include adjust-font-size-to($small-font-size, $small-font-leading);
  }
  @if $size == "base" {
    @include adjust-font-size-to($base-font-size, $base-font-leading);
  }
  @if $size == "medium" {
    @include adjust-font-size-to($base-font-size, $base-font-leading);
    @include breakpoint($desktop-menu) {
      @include adjust-font-size-to($medium-font-size, $medium-font-leading);
    }
  }
  @if $size == "large" {
    @include adjust-font-size-to($medium-font-size, $medium-font-leading);
    @include breakpoint($desktop-menu) {
      @include adjust-font-size-to($large-font-size, $large-font-leading);
    }
  }
  @if $size == "xlarge" {
    @include adjust-font-size-to($large-font-size, $large-font-leading);
    @include breakpoint($desktop-menu) {
      @include adjust-font-size-to($xlarge-font-size, $xlarge-font-leading);
    }
  }
  @if $size == "super" {
    @include adjust-font-size-to($xlarge-font-size, $xlarge-font-leading);
    @include breakpoint($desktop-menu) {
      @include adjust-font-size-to($super-font-size, $super-font-leading);
    }
  }
  @if $size == "mega" {
    @include adjust-font-size-to($super-font-size, $super-font-leading);
    @include breakpoint($desktop-menu) {
      @include adjust-font-size-to($mega-font-size, $mega-font-leading);
    }
  }
}