//* --------------------------------------------
//	TYPOGRAPHY
//-------------------------------------------- */

@include establish-baseline;

div.styleguide {
  //@include debug-vertical-alignment();
  background-size: 100% $base-line-height;
  padding-top: 0!important;
}

%t-small {
  @include typeSize(small);
  @extend %t-semibold;
}
%t-base {
  @include typeSize(base);
  @extend %t-regular;
}
%t-medium {
  @include typeSize(medium);
  @extend %t-regular;
}
%t-large {
  @include typeSize(large);
  @extend %t-light;
}
%t-xlarge {
  @include typeSize(xlarge);
  @extend %t-light;
}
%t-super {
  @include typeSize(super);
  @extend %t-thin;
}
%t-mega {
  @include typeSize(mega);
  @extend %t-thin;
}

.t-small {
  @include typeSize(small);
  @extend %t-semibold;
}
.t-base {
  @include typeSize(base);
  @extend %t-regular;
}
.t-medium {
  @include typeSize(medium);
  @extend %t-regular;
}
.t-large {
  @include typeSize(large);
  @extend %t-light;
}
.t-xlarge {
  @include typeSize(xlarge);
  @extend %t-light;
}
.t-super {
  @include typeSize(super);
  @extend %t-thin;
}
.t-mega {
  @include typeSize(mega);
  @extend %t-thin;
}

@include declare-font-face('ProximaNova', '1415F2_0', 200); //ProximaNovaT-Thin
@include declare-font-face('ProximaNova', '1415F2_1', 400); //ProximaNova-Regular
@include declare-font-face('ProximaNova', '1415F2_2', 600); //ProximaNova-Semibold
@include declare-font-face('ProximaNova', '1415F2_3', 300); //ProximaNova-Light
@include declare-font-face('ProximaNova', '1415F2_4', 700); //ProximaNova-Bold

html, body {
  //font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
}

p + p {
  @include margin-leader(1);
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  @include margin-leader(1);
}
#{headings(all)} {
  @include margin-leader(1);
}

small, figcaption {
  @extend %t-small;
}

// Headings
//

h1 {
  @extend %t-mega;
}

h2 {
  @extend %t-super;
}

h3 {
  @extend %t-xlarge;
}

h4, aside .pane-title {
  @extend %t-large;
}
h4 {
  color: $maroon;
}

h5 {
  @extend %t-medium;
  @extend %t-bold;
}

h6 {
  @extend %t-small;
  text-transform: uppercase;
  @extend %t-bold;
}
// Links
//
// The order of link states are based on Eric Meyer's article:
// http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
a {
  text-decoration: none;
  @include transition(all 0.2s ease-in-out);

  &:link {
    color: $link;
  }

  &:visited {
    color: $visited;
  }

  &:hover, &:focus {
    color: $hover;
    text-decoration: none;
  }

  &:active, &.active {
     color: $hover;
  }
}


// Lists

ul, ol {
  @include margin-leader(1);
  @include margin-trailer(1);
  padding: 0 0 0 $indent-amount;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0;
}

ul, .block ul, .item-list ul {
  list-style-type: square;
  list-style-image: none;
}

ul.inline,
ol.inline {
  margin: 0;
  li {
    display: inline;
  }
}

// Misc.

.highlight {
  color: $accent;
}
.bold, strong, b {
  @extend %t-bold;
  color: $dark-grey;
}
.italic, em {
  font-style: italic;
}
hr {
  border: 0;
  border-bottom: 1px dashed $white;
  background: $grey;
}
hr.gradient {
  border: 0;
  height: 1px;
  background-color: transparent;
  @include background-image(linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)));
  @include margin-leader(1);
  @include margin-trailer(1);
}

em {
  font-style: italic;
}

/* Code and Pre
-------------------------------------------------------------- */
code, pre{
  font-family: $font-monospace;
  color: $darker-grey;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 11px;
  line-height: 20px;
  background: $white;
  border: 1px solid $lighter-grey;
  padding: 0 20px;
  display: block;
  overflow: auto;
}
code {
  background: url(../images/code.gif) repeat 0 0;
  border-top: transparent;
}
.tips code {
  color: $maroon;
}

/* Blockquotes
-------------------------------------------------------------- */
blockquote {
  position: relative;
  @include margin-leader(1);
  @include margin-trailer(1);
  padding: 0 0 0 $indent-amount;
  text-align: left;
  font-style: italic;
  cite {
    color: $grey;
    display: block;
    &:before {
      content: "\2014 \2009";
    }
  }
  &:before {
    display: block;
    content: "\201C";
    font-size: 110px;
    position: absolute;
    left: -($indent-amount/2);
    top: $indent-amount;
    color: $grey;
  }
}

/* Pullquotes
-------------------------------------------------------------- */
.pullquote {
  display: inline-block;
  float: left;
  margin-bottom: 1em;
  margin-right: 2em;
  margin-top: 1.5em;
  width: 40%;
  border-left: 5px solid $accent;
  letter-spacing:-.5px;
  padding: 1em;
}
.pullquote.aligncenter {
  float:none;
  text-align:left;
  width:auto;
  display:block;
}
.pullquote.alignleft,.pullquote.aligncenter {
  margin-left:2px;
}
.pullquote.alignright,.pullquote.aligncenter {
  margin-right:2px;
}
.pullquote.alignright {
  margin-left: 2em;
}



// Remove text-shadow in selection highlight: h5bp.com/i
// These selection declarations have to be separate
::-moz-selection { background: $selection-bg; color: $selection; text-shadow: none; }
::selection { background: $selection-bg; color: $selection; text-shadow: none; }
