//* --------------------------------------------
//	VARIABLES
//-------------------------------------------- */


// The following font family declarations are based on the Microsoft core web
// fonts which are common fonts available on most computer systems. The DejaVu
// and Nimbus Sans fonts are commonly available on Linux systems where the MS
// fonts are less common. Tahoma and Helvetica are also widely available.
//
// A user's web browser will look at the comma-separated list and will
// attempt to use each font in turn until it finds one that is available
// on the user's computer. The final "generic" font (sans-serif, serif or
// monospace) hints at what type of font to use if the web browser doesn't
// find any of the fonts in the list.

// First, let's create some font stacks.
$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times:           Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif;

$verdana:         Verdana, 'Helvetica Neue', Helvetica, Arial, Verdana, "DejaVu Sans", sans-serif;
$tahoma:          Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica:       'Helvetica Neue', Helvetica, Arial, Verdana, "DejaVu Sans", sans-serif;
$arial:           Arial, Helvetica, "Nimbus Sans L", sans-serif;

// Project-specific fonts
// Put any font families here that are specific to your project.
$proximanova:             'ProximaNova', 'Helvetica Neue', Helvetica, Arial, Verdana, "DejaVu Sans", sans-serif;

$font-path: '../fonts/';


// For an explanation of why "sans-serif" is at the end of this list, see
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
$courier:         "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

// Now create some variables for the font stacks we want to use on this site.
$base-font-family: $proximanova; // The font family set on the html element.
$font-monospace:   $courier;
$form-font-family: $proximanova;

// Font weights
$base-font-weight: 400;

%t-bold {
  font-weight: 700;
}
%t-semibold {
  font-weight: 600;
}
%t-regular {
  font-weight: $base-font-weight;
}
%t-light {
  font-weight: 300;
}
%t-thin {
  font-weight: 200;
}

// Font sizes

$base-font-size:   14px;
$base-line-height: 23px;
$base-font-leading: 1;
$rhythm-unit:      "rem";

$small-font-size: 11px;
$small-font-leading: 1;

$medium-font-size: 18px;
$medium-font-leading: 1;

$large-font-size: 22px;
$large-font-leading: 1;

$xlarge-font-size: 29px;
$xlarge-font-leading: 1.5;

$super-font-size: 36px;
$super-font-leading: 2;

$mega-font-size: 46px;
$mega-font-leading: 2;



//
// Colors, etc.
//

$black:                  #000;
$grey:                   #767676;
$dark-grey:              #403f3f;
$darker-grey:            #2a2a2a;
$light-grey:             #D6D6CE;
$lighter-grey:           #ebe8e8;
$off-white:              #ededed;
$white:                  #fff;

// Accent colors
$maroon:                #800000;
$light-maroon:          #9e2121;
$dark-maroon:           #4a0404;

$yellow:                #FFA319;
$yellow-tint:           #FFB547;
$yellow-shade:          #CC8214;

$orange:                #C16622;
$orange-tint:           #D49464;
$orange-shade:          #874718;

$red:                   #8F3931;
$red-tint:              #B1746F;
$red-shade:             #642822;

$light-green:           #8A9045;
$light-green-tint:      #ADB17D;
$light-green-shade:     #616530;

$dark-green:            #58593F;
$dark-green-tint:       #8A8B79;
$dark-green-shade:      #3E3E23;

$blue:                  #155F83;
$blue-tint:             #5B8FA8;
$blue-shade:            #0F425C;

$violet:                #350E20;
$violet-tint:           #725663;

$cyan:                  #47B5FF;
$magenta:               #FF3399;
$alert-red:             #b73939;
$alert-green:           #4d8f46;


// Standard colors: for standard 4K and other brand colors.
// Note: these are just for reference, and some brands have multiple colors.
$color-facebook : #3B5998;
$color-twitter  : #33CCFF;
$color-youtube  : #FF3333;
$color-pinterest: #990000;
$color-skype    : #12A5F4;
$color-flickr   : #FE0883;
$color-foursquare: #8FD400;
$color-instagram: #4E433C;
$color-linkedin : #4875B4;
$color-tumblr   : #2B4964;
$color-vimeo    : #86B32D;
$color-google   : #D6492C;
$color-fk       : #66B360;


// Base color variables.
$accent:          $maroon;
$link:            $accent;
$visited:         $link;
$hover:           $dark-grey;
$selection-bg:    $accent;
$selection:       $white;
$boxed-border-color: $light-grey;
$base-font-color: $black;


// Font Awesome
// -------------------------
$fa-font-path:       "../../../libraries/fontawesome";
$fa-border-color: $lighter-grey;


// The amount lists, blockquotes and comments are indented.
$indent-amount: 3rem;


// Add breakpoint settings.
//
// Breakpoint allows us to embed media queries directly into each rule that
// needs it, rather than forcing a developer to place rules for a single
// component in multiple places depending on the media query they want to
// affect.
//
// @see https://github.com/Team-Sass/breakpoint/wiki
//
// Listed here are named breakpoints. They can vary in complexity, allowing you to
// get rid of the cognitive load behind typing and remembering media queries.
//
// @see https://github.com/Team-Sass/breakpoint/wiki/Respond-To

// $sample-breakpoints: "small-ish" (300px),
//                      "medium-ish" (460px),
//                      "large-ish" (770px),
//                      "extra-large-ish" (1000px);

//$image-large: 350px;
//$image-xl: 613px;
//$image-xl2: 1072px;
//$image-xl2-2: 1550px;
//$image-xl3: 1876px;

$wide-mobile: 440px;
$tablet: 650px;
$desktop-menu: 1000px;
$max-width: 1300px;

$header-height: 55px;
$header-padding: 20px;
$header-height-box: $header-height + ($header-padding * 2);

$mobile-menu-width: 250px;

// Add Singularity responsive layout settings.
//
// Singularity allows the creation of responsive grids within your site's layout
// Go to the singularity github wiki for full implementation, and how to
// integrate it with breakpoint as well.
//
// @see https://github.com/Team-Sass/Singularity/wiki

@include add-grid(4);
@include add-grid(6 at $tablet);
@include add-grid(12 at $desktop-menu);

@include add-gutter(1/5);


